body{
  overflow-x:hidden;
}

.container{
  width: 85%;
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
}
  
.navigator{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem 2rem 0rem;
 }

.nav__left{
  width: 200px;
  letter-spacing: 2px;
 
  font-size: 200%;
  
}
.nav__right{
  
  align-content: center;
  font-size: 20px;
}
.header__home{
  display:flex;
background-color: rgb(255, 255, 255);
}

.image{
  background-color: rgb(255, 255, 255);
  width:100%;
  margin-left: 1em;
   
}
.home__left{
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.home__right{
  
  background-color: rgb(255, 255, 255);
  margin-left: 3rem;
}
.home__form{
  min-width: 20rem;
}
.form__title{
  font-size: 2rem;
  font-weight: bolder;
}

.home__form{
  margin-top: 3rem;
}

.email__div, .password__div, .fullname__div{
  display: flex;
  min-width:100%;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
  
}
.email, .password, .fullname{
  min-width: 97%;
  font-size: larger;
  line-height: 40px;
  
}
.form__button{
  margin-top: 3rem;
}

.button__login{
  background-color: rgb(73, 6, 135);
  color: white;
  padding: 10px 60px 10px 60px;
  border-radius: 20px;
  border: none;
}

.button__pwdforget{
  background-color: white;
  border: none;
}

.png__section{
  display: flex;
  margin-top: 3rem;
}
.png__img{
  width: 22px;
  height: 22px;
  margin-left: 2rem;
}

.png__text{
 align-content: center;
}


@media  (max-width: 500px) {
  .image {
       width:400px;
  }
}


@media  (max-width: 500px) {
  .header__home {
        display: flex;
        flex-direction: column;
  }
}