body{
  overflow-x:hidden;
}



.logo__oflife{
  width: 30px;
  height: 30px;
  margin-right:7px;
}
.logo__text{
  font-size: larger;
}
.logoArea{
  display:flex;
  font-weight: bold;
  border:1px solid rgb(255, 255, 255);
  
}
.navigator__menu{
  display: flex;
  margin-top: 1em;
  justify-content:space-between;
  border: 1px blue;
  
}
.menu__area{
  display:flex;
  border: 1px solid rgb(255, 255, 255);
  
}
.menu{
   margin-left: 1rem;
   font-size: small;
}
.button__area{
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  
  justify-content: space-evenly;
}
.menu__buttonone, .menu__buttontwo{
    color:aliceblue;
  border: none;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;

  font-size: small;

}
.menu__buttonone{
  background-color: rgb(29, 152, 255);
  
  margin-right: 5px;
  }
.menu__buttontwo{
  background-color: rgb(255, 0, 0);
}


.section__one{
text-align: center;
margin-top: 2rem;
}
.heading__sectionOne{
  font-weight: bold;
}
.sectionOne__button{
  display: flex;
  justify-content: center;
}
.sectionOne__buttonA, .sectionOne__buttonB{
  
  border: none;
  padding:8px 18px 8px 18px;
}

.sectionOne__buttonA{
  background-color: rgb(254, 196, 175);
  color: rgb(254, 67, 0);
  margin-right: 12px;
}

.sectionOne__buttonB{
  background-color: rgb(183, 237, 221);
  color: rgb(130, 218, 189);
  margin-left: 25px;
}
.sectionTwo{
  margin: 3rem 0rem 5rem 0rem;
}
.sectionTwo__textArea{
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

.sectionTwo__partTwo{
  display: flex;
 
}

.sectionTwo__divOne{
  
  margin-right: 8rem;
  margin-top: 2rem;
}

.sectionTwo__headingF{
  margin: 24px 0px 24px 0px;
}
.secTwoParagraph{
  font-size: 14px;
}
.secTwoLink{
  color:black;
  text-decoration: none;
  font-size: 14px;
}

.section__three{
  display:flex;
  
}
.sectionThree__one{
  width: 100%;

}
.sectionThree__h5{
  
  margin-bottom:1rem;
}
.sectionThree__two{
  width: 45%;
}

.sectionFour{
  display: flex;
  margin-top: 4rem;
  padding-left: 8rem;
}

.sectionFour__sideOne{
  width: 40%;
  padding-right: 2rem;
}

.sectionFour__sideTwo{
  width: 40%;
  margin-left: 4rem;
  margin-top: 4rem;
}

.sectionFour__button{
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  font-size: 14px;
  color: white;
  border: none;
  background-color: rgb(25, 152, 255);
  border-radius: 7px;
  padding:3px 0px 5px 0px;
}

.section__Five{
  text-align: center;
  margin-top: 4rem;
  
}

.sectionFive__sideTwo{
  display:flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.secFiveImageOneDiv, .secFiveImageTwoDiv, .secFiveImageThreeDiv, .secFiveImageFourDiv{
  
  
 width: 250px;
 height: 200px;
 padding-top: 2rem;
 margin-bottom: 1em
 
  
}
.secFiveImageOneDiv{
  background-color: black;
}
.secFiveImageTwoDiv{
  background-color: rgb(255, 173, 0);
}

.secFiveImageThreeDiv{
  background-color: rgb(187, 187, 242);
}
.secFiveImageFourDiv{
  background-color: rgb(94, 214, 179) ;
}

.sectionFiveseo{
  margin-top: -1rem;
}

.sectionSix__partOne{
  text-align: center;
  margin:2em 0em 2em 0em;
}

.sectionSix__partTwo{
  text-align: center;
  display:flex;
}
.sectionSix__PartTwoA{
  
  background-color: rgb(243, 247, 251);
  width: 95%;
  padding:2rem;
  font-size: 14px;
}
.sectionSix__image{
  border-radius: 50%;
  width: 50px;
}
.sectionSix__PartThree{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image:url(./bckgimgsection6.jpg);
  width: 90%;
  margin: auto;
  height: 300px;
  align-items: center;
  padding-top: 3rem;
}